.DS_Store
.ipynb_checkpoints
__pycache__/
final_barcode_list/
IU_Logs/
refactor_portal_to_terra.py
report_tables/
Run_logs/
src/data/*
src/.ipynb_checkpoints
src/sc_pipe_management/qc_metrics/
src/sc_pipe_management/run_config/
src/sc_pipe_management/workflow_configs/
src/sc_pipe_management/*.ipynb
src/tests/test_data/__pycache__
src/tests/test_files/test_input_datatable_generation_generated.tsv
src/tests/test_files/IGVFFI2791JOTW.yaml.gz
src/terra_datatable/
temp/
terra_datatables/
terra_post_report_tables/
.vscode/
